<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login.css">
    <link rel="shortcut icon" href="./images/iconBank.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Login MindHub Bank</title>
</head>
<body>
    <div id="login" >
        <main class="main-container d-flex flex-column-reverse gap-3 flex-lg-row">
            <div class="w-50 carousel-query">
                <div id="carouselExampleSlidesOnly" class="carousel slide border-radius w-100" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active image-ad1 ">
                        <img src="./images/adsBank/add1.jpeg" class="  " alt="...">
                      </div>
                      <div class="carousel-item image-ad2 ">
                        <img src="./images/adsBank/add2.jpeg" class=" " alt="...">
                      </div>
                      <div class="carousel-item image-ad3 ">
                        <img src="./images/adsBank/ads3Bank.jpeg" class="  " alt="...">
                      </div>
                    </div>
                  </div>
            </div>



            <div class="login-container w-100 w-md-50">
                
                <div action="" class="form-login">
                    <div class="d-flex w-100">
                        <img  style="width: 10rem; margin-left: .5rem; margin-bottom: .5rem;" class=" d-flex logo-login-query " src="./images/logoBlack.png" alt="">  
                    </div>
                    <ul class="login-nav d-flex flex-row">
                        <li class="login-nav__item active">
                            <a href="./index.html">Sign In</a>
                        </li>
                        <li class="login-nav__item login-nav__item__query">
                            <a href="./register.html">Sign Up</a>
                        </li>
                    </ul>
                    <h6 v-if="errorLogin !=''" class="text-white" v-cloak>{{errorLogin}}</h3>
                    <label for="login-input-user" class="login__label">
                        Username
                    </label>
                    <input id="login-input-user" v-model="email" placeholder="Email" class="login__input" type="text" required autofocus/>
                    <label for="login-input-password" class="login__label">
                        Password
                    </label>
                    <input id="login-input-password" v-model="password" class="login__input"  placeholder="Password" type="password" required/>
                    <label for="login-sign-up" class="login__label--checkbox">
                        <input id="login-sign-up" type="checkbox" class="login__input--checkbox" />
                        Keep me Signed in
                    </label>
                    
                    <button @click="login" class="login__submit" >Sign in</button>
                    
                </div>
                <a href="" class="login__forgot">Forgot Password?</a>
            </div>
    </main>
    </div>
    <script src="https:/app.embed.im/snow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
         ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./javascript/login.js"></script>
</body>
</html>